{{ attach_library('coll_product/product-page') }}
  <div class="container">
    <div class="product-image">
    {{ content.field_product_image }}
    </div>
    <div class="product-text">
        {{ content.body }}
    </div>
  </div>
