
<div>
    <div> Scan here on your mobile </div>
    <div> To purchase this product on our app to avail exclusive app-only </div>
    <div >
        <img src="{{ app_link_url }}" height="120" width="300"  alt="App link Url" />
    </div>
</div>
